-e .
annotated-doc==0.0.4 ; implementation_name == 'cpython'
    # via fastapi
annotated-types==0.7.0 ; implementation_name == 'cpython'
    # via pydantic
anyio==3.7.1 ; implementation_name == 'cpython'
    # via starlette
beautifulsoup4==4.14.3 ; implementation_name == 'cpython'
    # via eortologio-api
cachetools==7.1.0 ; implementation_name == 'cpython'
    # via eortologio-api
certifi==2025.4.26 ; implementation_name == 'cpython'
    # via requests
charset-normalizer==3.4.2 ; implementation_name == 'cpython'
    # via requests
click==8.1.8 ; implementation_name == 'cpython'
    # via uvicorn
colorama==0.4.6 ; implementation_name == 'cpython' and sys_platform == 'win32'
    # via click
deprecated==1.2.18 ; implementation_name == 'cpython'
    # via limits
fastapi==0.136.1 ; implementation_name == 'cpython'
    # via eortologio-api
h11==0.16.0 ; implementation_name == 'cpython'
    # via uvicorn
idna==3.10 ; implementation_name == 'cpython'
    # via
    #   anyio
    #   requests
limits==5.1.0 ; implementation_name == 'cpython'
    # via slowapi
lxml==6.1.0 ; implementation_name == 'cpython'
    # via eortologio-api
packaging==25.0 ; implementation_name == 'cpython'
    # via limits
pydantic==2.13.3 ; implementation_name == 'cpython'
    # via
    #   eortologio-api
    #   fastapi
pydantic-core==2.46.3 ; implementation_name == 'cpython'
    # via pydantic
requests==2.33.1 ; implementation_name == 'cpython'
    # via eortologio-api
slowapi==0.1.9 ; implementation_name == 'cpython'
    # via eortologio-api
sniffio==1.3.1 ; implementation_name == 'cpython'
    # via anyio
soupsieve==2.7 ; implementation_name == 'cpython'
    # via beautifulsoup4
starlette==0.50.0 ; implementation_name == 'cpython'
    # via fastapi
typing-extensions==4.15.0 ; implementation_name == 'cpython'
    # via
    #   beautifulsoup4
    #   fastapi
    #   limits
    #   pydantic
    #   pydantic-core
    #   starlette
    #   typing-inspection
typing-inspection==0.4.2 ; implementation_name == 'cpython'
    # via
    #   fastapi
    #   pydantic
urllib3==2.6.3 ; implementation_name == 'cpython'
    # via
    #   eortologio-api
    #   requests
uvicorn==0.46.0 ; implementation_name == 'cpython'
    # via eortologio-api
wrapt==1.17.2 ; implementation_name == 'cpython'
    # via deprecated
